<% include header %>
<div id="userDetail" data-username=<%=flockEvent.userId%> data-chat=<%=flockEvent.chat%> ></div>
<div class = "container">
	<% for (i in res){ %>
		<div class="card hoverable horizontal placeCard" data-placeObj="<%= JSON.stringify(res[i])%>">
			<div class="card-image">
	       	 	<img src=<%= res[i].icon %> >
	      	</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="card-title light-green-text text-darken-4"><%= res[i].name %></span>
					<div class="divider"></div>
					<div>	
						<span class="light-green-text text-accent-4"> Address : </span><span><%= res[i].formatted_address%></span>
					</div>
					<div>
						<span class="light-green-text text-accent-4"> Ratings : </span><span><%= res[i].rating?res[i].rating:"Unavailable"%></span>
					</div>
					<div>
						<span class="light-green-text text-accent-4"> Tags : </span><% for (j in res[i].types){ %>  <span class="blue-grey darken-3 white-text" style="padding:5px;"><%=res[i].types[j]%></span><% } %>
					</div>
				</div>
			</div>
		</div>
	<% } %>
	<div id="testArea"></div>
</div>
<% include footer %>
