<% include header %>
<div id="userDiv" data-userid=<%=userid%> >
<nav class="purple darken-4" style="border-radius: 10px;max-width: 95%;margin-top:20px;margin-left: 2.5%">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style="margin-left: 30px">GoThere</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="#">For</a></li>
        <li><a href="#">Later</a></li>
        <li><a href="#">Use</a></li>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="card hoverable" style="padding-top:40px;margin-top:20px">
    <div class="row">
      <div class="input-field col s8" style="width:50%;margin-left:15%" >
            <input id="location" type="text" class="validate">
            <label for="location">Enter Your Location</label>
      </div>
      <div class="col s4" style="margin-top: 20px">
        <a  id="submitLocation" class="waves-effect waves-light btn purple darken-4" style="margin: auto,width:50%">SUBMIT</a>
      </div>
    </div>
  </div>
</div>



<% include footer %>