<%include header%>
	<iframe
	width="1200px" height="650px"
     frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCcooeIquaA6iAV1Mc6JB68GOVtfj_JZos&origin=<%=origin%>&destination=place_id:<%= destination%>" allowfullscreen>
</iframe>
<%include footer%>