<% include header%>
	<div class="container card small hoverable" style="margin:5%;width:90%;height:100%" >
		<img src="/<%= attachmentObj["imageUrl"] %>" style="width:100%">
		<div class="switch" style="margin-left:10%">
	    <label >
	      Not Interested
	      <input type="checkbox" id="interested" <%= isInterested?"checked":"" %>>
	      <span class="lever "></span>
	     Interested
	    </label>
	  </div>
	  <p><b>People Interested :</p>
	  <div class="container flockProfiles" style="margin:10px">
	 	<% for(i in publicProfilesArray){	%>
	 		<span>
	 			<img src="<%= publicProfilesArray[i].profileImage %>" style="height:50px" class="flockProfile tooltipped" data-position="top" data-delay="200" data-tooltip="<%=publicProfilesArray[i].firstName%> <%=publicProfilesArray[i].lastName%>">
	 		</span>
	 		
	<% } %>
	  </div>
</div>
<% include footer%>