<% include header%>
	<% for(i in results.reverse()){ %>
		<div class="card hoverable">
			<h5><%=results[i].attachment["name"] %></h5>
			<img src="/<%=results[i].attachment["imageUrl"] %>" style="width:250px">
			
			<div class="container flockProfiles" style="margin:10px">
	 	<p><b>People Interested:</b></p>
	 	<% for(j in results[i].userProfiles){	%>
	 		<span>
	 			<img src="<%= results[i].userProfiles[j].profileImage %>" style="height:30px" class="flockProfile tooltipped" data-position="top" data-delay="50" data-tooltip="<%=results[i].userProfiles[j].firstName%> <%=results[i].userProfiles[j].lastName%>">
	 		</span>

	 	<% } %>
	  </div>
		</div>


	<% } %>
<% include footer%>