<% include header%>
	<% for(i in results){ %>
		<div class="card hoverable">
			
			<span><img src="<%=results[i]["profile_photo_url"] %>" class="circle  profileImage"></span>
			
			<span class="light-green-text text-accent-4"><b>
			<%= results[i]["author_name"] %></b>
			</span>
		<span><%= results[i]["text"] %></span>
		</div>
	<% }%>


<% include footer%>