

.displayCards{
	margin:20px;
	padding:25px;
	width:80%;


}
.card{
	border-radius: 10px;
	padding: 20px;
}

.profileImage{
	height:50px;
	float: left;
	margin:5px;
}

.flockPrfile{
	max-height: 50px;
	max-width: 100px;
	display: inline-block;
}